h1 {
    color: firebrick;
}

.test {
    font-size: 20px;
    font-weight: bold;
}

#color {
    background: aqua;
    font-size: 20px;
}

[type="text"] {
    border: dashed;
    border-radius: 5px;
}

.around p {
    border: solid;
    border-color: crimson;
    width: 350px;
}

div > span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

h2 + p {
    font-weight: bold;
    color: darkmagenta;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.comparison {
    border: double;
    font-weight: bold;
    color: deeppink;
}

#test.blue {
    color: white;
    background: darkblue;
    font-size: 25px;
}

div#container {
    font-size: 18px;
    font-weight: bold;
}